section {
  height: 100vh;
}

.navbar-nav {
  display: flex;
}

#welcome-section {
  background-image: url("images/city.jpg");
  background-size: cover;
}

#profile-pic {
  width: 300px;
  border-radius: 50%;
}

#intro-text {
  color: white;
}

.social {
  justify-content: flex-end;
}

.btn-group {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}
