section {
  height: 100vh;
}

.navbar-nav {
  display: flex;
}

.social {
  justify-content: flex-end;
}

.btn-group {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}
