section {
  padding-top: 56px;
  height: 100vh;
}

#welcome-section {
  background-image: url("images/citynight.jpg");
  background-size: cover;
}

.profile {
  margin: 35px 0px 0px 65px;
}

#profile-pic {
  width: 300px;
  border-radius: 50%;
  padding-bottom: 15px;
}

#intro-text {
  color: white;
}

.social {
  justify-content: flex-end;
}

.btn-group {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}
